<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }}</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>
    <ul>
        {% for question in quiz.questions.all %}
            <li>{{ question.text }}</li>
            <ul>
                {% for choice in question.choices.all %}
                    <li>{{ choice.text }}{% if choice.is_correct %} (Correct){% endif %}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>
